@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}
.active {
  background-color: #003364;
  
  border-radius: 10px;

}
.clashover:hover{
  background-color: rgb(4, 8, 83);
   border-radius: 10px;
  
}