@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #111d29;
}
.active {
  background-color: #003364;
  
  border-radius: 10px;

}
.clashover:hover{
  background-color: blue;
   border-radius: 10px;
  
}